# Backend
backend/.env
backend/vendor/
backend/node_modules/
backend/storage/app/public/
backend/storage/logs/
backend/.phpunit.cache/
backend/public/build/
backend/public/hot
backend/public/storage

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Docker
.idea/
*.DS_Store
